{% extends 'base.html' %}

{% block content %}
    <h1>User List</h1>
    {% for message in get_flashed_messages() %}

    <div class="container">
    <div class="alert alert-success alert-dismissible fade show" role="alert" >
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
{% endfor %}
    {% if name %}
        <p>Hello users</p>

    {% else %}
        <br>
            <form method="post" class="form-control">
                {{ form.hidden_tag() }}
                
                {{ form.name.label(class="form-label") }} 
                
                {{ form.name(class="form-control") }}

                {{ form.email.label(class="form-label") }} 
                
                {{ form.email(class="form-control") }}
                <br>

                {{ form.submit(class="btn btn-dark mb-3") }}
            </form>
    <br/><br/><br/>
    {% endif %}
    <p>Here is a list of users:</p>
    {% if users %}
    <table class="table table-hover table-bordered table-striped">

            {% for user in users %}
                <tr>
                    <td>
                    {{ user.username }} - {{ user.email }} <br/>
                    </td>
                </tr>
            {% endfor %}

    </table>
    {% else %}
        <p>No users found</p>
    {% endif %}
{% endblock %}